<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty server for EJB timer">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.1</feature>
    </featureManager>

    <include location="resources/config/libraries.xml" />
    <include location="resources/config/logging.xml" optional="true"/>
    <include location="resources/config/registry.xml" optional="true"/>
    <include location="resources/config/database.xml" optional="true"/>

    <basicRegistry id="basic" realm="BasicRealm"/>

    <httpEndpoint id="defaultHttpEndpoint" host="${env.SERVER_HOST}" httpPort="${env.SERVER_HTTP_PORT}" httpsPort="${env.SERVER_HTTPS_PORT}" />

    <applicationManager autoExpand="true"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <webApplication contextRoot="/liberty-timer" location="liberty-timer.war">
        <classloader commonLibraryRef="sl4j,h2lib"/>
    </webApplication>

</server>
